@-ms-viewport{
  width: device-width;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
  color: #696c71;
}

#header {
  max-width: 600px;
  margin: auto;
  height: 160px;
}

#header img {
  float: left;
  padding: 0px 15px 0 0;
}

#header h1 {
  padding-top: 30px;
  margin-bottom: 0;
  color: #ff5d60;
  font-size: 28pt;
}

#header span {
  padding-top: 0px;
  display: block;
}

div.blurb {
  width: 100%;
  background-color: #eee;
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
}

div.blurb p {
  max-width: 600px;
  margin: 10px auto;
  text-align: left;
}

h2 {
  margin: 15px;
  text-align: center;
}

table#hours {
  margin: auto;
}

  th {
    color: #79c3bb;
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
  }

  td {
    text-align: left;
  }

.google_maps iframe {
  width: 100%;
}

@media only screen and (max-device-width: 480px) {
    #container {
      max-width: 450;
    }
  }
